*{
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box ;
}

body{
    background-color: #2C2C2C; ;
}

#cabeçalho{
    background-color:#9657A5;
    width:375px;
    height: 66px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px; 
}
h1 {
    color: #f4f4f4;
    font-size: 24px;
    text-align: center;
    padding-top: 20px;
}

#caixa-principal{
    background-color: #e5e5e5;
    width:375px;
    padding: 24px;
    margin-left: auto;
    margin-right: auto;
}

.paragrafo{
    margin-bottom: 6px;
    color: #777777;
    font-weight:normal;
    font-size: 14px;
    line-height: 18px;
}

.select{
    background:#FFFFFF;
    border-radius: 4px;
    border: 1px solid #BBBBBB;
    height: 48px;
    width: 327px;
    margin-bottom: 23px;
    appearance: none;
    outline: none;
    cursor: pointer;
    padding-left: 16px;
    font-size: 16px;
    font-weight: bold;
}

#input{
    height: 48px;
    width: 327px;
    background: #FFFFFF;
    border: 1px solid #BBBBBB;
    border-radius: 4px;
    margin-bottom: 3px;
    outline: none;
    padding-left: 16px;
    font-size: 16px;
    font-weight: bold;
}

#botao{
    background: #CDD728;
    border-radius: 25px;
    display: block;
    height: 48px;
    width: 327px;
    cursor: pointer;
    border: none;
    margin-bottom:23px;
    font-weight: bold;
    font-size: 18px;
    color: #f4f4f4;
    outline: none;
}

#botao:active{
    opacity: 0.6;
}

#caixa-interna{
    border: 1px solid #9657A5;
    border-radius: 4px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.caixa-menor{
    text-align: center;

}

#seta{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

.paragrafo-negrito{
    font-weight: bold;
    font-size: 20px;
}